body {
    background-color: #f8f9fa;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 800px;
}

.content-404 {
    background: #FF0000;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.logo {
    max-width: 150px;
    margin-bottom: 20px;
}

h1 {
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #FFF;
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #343a40;
}

p.lead {
    font-size: 18px;
    margin-bottom: 20px;
    color: #FFF;
}

.btn-black {
    padding: 50px 20px;
    font-size: 18px;
}

.btn-black:hover {
    background-color: #333;
    border-color: #333;
}
